img{
    width : 450px;
    height: 450px;
}

#one {
   color: pink;
   font-size: 20px;
}

#two {
    color: pink;
    font-size: 20px;
 }

 #three {
    color: pink;
    font-size: 20px;
 }

 #four {
    color: pink;
    font-size: 20px;
 }

 #five{
    color: pink;
    font-size: 20px;
 }

 #six {
    color: pink;
    font-size: 20px;
 }

 #seven {
    color: pink;
    font-size: 20px;
 }

 #eight {
    color: pink;
    font-size: 20px;
 }

 #nine {
    color: pink;
    font-size: 20px;
 }

